.calendar-controls {
  height: 40px;
  display: flex;
  font-size: 18px;
  color: #1e293b;
  align-items: center;
  font-weight: 600;
  justify-content: space-between;
}

.calendar-controls__action-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.calendar-controls__arrow {
  width: 30px;
}
