.weekly-calendar-container {
  padding: 8px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.weekly-calendar-days-background {
  border-radius: 8px;
  padding: 4px 0;
  background-color: #e5e7eb;
}
